{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %} 

{% block content %}
    <div class="text-4xl font-bold">
        Todo Manager
    </div>
    <br>
    <br>
    <div class="text-2xl">
        Signup
    </div>
    <br>
    <form method="post" class="tasks-form">
        {{form.as_p}}
        {% csrf_token %}
        <button type="submit" class="bg-red-500 block hover:bg-red-600 text-white rounded-xl p-3 text-base cursor-pointer transition w-full mt-4">
            Sign Up
        </button>
        <br>
        <a href="login" class="text-sm text-red-500 block text-center">
            Already have an account?
        </a>
    </form>
{% endblock %}